.contact {
  padding-top: 175px;

  @include breakpoint-up(medium) {
    padding-top: 265px;
  }

  &__title {
    padding-bottom: 100px;
    padding-left: 30px;

    @include breakpoint-up(medium) {
      padding-bottom: 130px;
      padding-left: 65px;
      padding-right: 65px;
    }

    @include breakpoint-up(large) {
      padding-bottom: 150px;
    }

    @include breakpoint-up(xlarge) {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  &__button {
    cursor: pointer;
    font-weight: 500;
    padding: 10px 15px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    transition: all 400ms ease-in-out;

    &:hover {
      color: #202020;
      background-color: white;
    }
  }
}

.form {
  padding-bottom: 100px;
  max-width: 720px;

  @include breakpoint-up(medium) {
    padding-bottom: 150px;
  }

  input {
    width: 100%;
  }

   textarea {
     border-radius: 0;
   }

  input,
  textarea {
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
    background-color: transparent;
    transition: all 500ms ease-in-out;


    &:focus {
      box-shadow: 0;
      color: white; 
      border: 1px solid hsla(0, 0%, 100%, 1);
      outline: none;
      background-color: transparent;
    }
  }
}

// Override vendors
.form-control:focus {
  box-shadow: none;
}