.contact {

  &__title {
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;

    @include breakpoint-up(medium) {
      padding-bottom: 130px;
      padding-left: 65px;
      padding-right: 65px;
    }

    @include breakpoint-up(large) {
      padding-bottom: 150px;
    }

    @include breakpoint-up(xlarge) {
      padding-left: 200px;
      padding-right: 200px;
    }

  &__arrow {
    transform: rotate(45deg) scale(0.6);
      margin-bottom: -15px;
      margin-left: -10px;

    @include breakpoint-up(medium) {
      margin-bottom: -30px;
      margin-left: -20px;
    }

    @include breakpoint-up(large) {
      margin-bottom: -35px;
      margin-left: -25px;
    }

    @include breakpoint-up(xlarge) {
      margin-bottom: -40px;
      margin-left: -30px;
    }
  }
  }

  &__button {
    cursor: pointer;
    font-weight: 500;
    padding: 10px 15px;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    transition: all 400ms ease-in-out;

    &:hover {
      color: #202020;
      background-color: white;
    }
  }
}

.form {
  padding-bottom: 100px;

  @include breakpoint-up(medium) {
    padding-bottom: 150px;
  }

  @include breakpoint-up(large) {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  input {
    
    @include breakpoint-up(large) {
      max-width: 600px;
    }
  }

  textarea {
    
    @include breakpoint-up(large) {
      max-width: 800px;
    }
  }

  input,
  textarea {
    margin-bottom: 30px;
    padding: 10px;
    color: white;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
    background-color: transparent;
    transition: all 500ms ease-in-out;

    &:focus {
      box-shadow: 0;
      color: white; 
      border: 1px solid hsla(0, 0%, 100%, 1);
      outline: none;
      background-color: transparent;
    }
  }
}

// Override vendors
.form-control:focus {
  box-shadow: none;
}