@keyframes loading {
  0% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

@keyframes loading__inner {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

.loading {
  z-index: 15;
  height: 0;
  width: 100%;
  position: absolute;
  background: black;
  animation: loading 1200ms ease-in-out;
  transform: rotate(180deg);

  &__inner,
  &__inner__a {
    height: 100%;
    width: 100%;
  }

  &__inner {
    background: white; 
    animation: loading__inner 800ms ease-in-out;

    &__a {
      animation: loading__inner 1200ms ease;
      background: black;
    }
  }
}