.projectcard {
  color: white;
  padding-bottom: 100px;

  @include breakpoint-up(medium) {
    padding-bottom: 150px;
  }

  @include breakpoint-up(large) {
    display: flex;
  }

  &__info {
    padding-top: 60px;
    padding-left: 10%;

    @include breakpoint-up(medium) {
      padding-left: 120px;
    }
  }
  
  &__desc {
    padding-left: 60px;
    padding-top: 25px;
  }
}

.img {
  min-width: 60%;
  cursor: pointer;
}