.projectcard {
  color: white;
  padding-bottom: 100px;

  &__info {
    padding-top: 60px;
    padding-left: 10%;
  }
  
  &__desc {
    padding-left: 60px;
    padding-top: 25px;
  }
}

.img {
  cursor: pointer;
}