.projectmodal {
  z-index: 20;
  position: fixed;
  overflow: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  @include breakpoint-up(medium) {
    font-size: 1.2rem;
    // fix
    p {
      font-size: 1.2rem;
    }
  }

  @include breakpoint-up(large) {
    font-size: 1.3rem;
    // fix
    p {
      font-size: 1.3rem;
    }
  }

  &__image {
    height: 100vh;
    width: 100vw;

    img {
      width: 100%;

      @include breakpoint-up(large) {
        width: unset;
        height: 100%;
        position: absolute;
        right: 0;
        background-size: contain;
      }
    }
  }

  &__content {
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100vw;
    padding-top: 60px;
    background-color: black;
    padding: 60px 30px;

    @include breakpoint-up(medium) {
      overflow-y: hidden;
      padding: 60px 70px;
    }

    @include breakpoint-up(large) {
      position: absolute;
      left: 0;
      height: 100%;
      width: 50%;
    }

    @include breakpoint-up(xlarge) {
      padding: 75px 100px;
    }
  }

  &__title {
    text-align: center;

    @include breakpoint-up(medium) {
      text-align: left;
    }

    @include breakpoint-up(xlarge) {
      font-size: 2rem;
    }
  }

  &__exit {
    font-size: 16px;
    padding: 5px 20px;
    border: 2px white solid;
    border-radius: 7px;
    background: black;
    color: white;
    z-index: 25;
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
    transition: all 300ms ease-in-out;

    &:hover {
      color: black;
      background-color: white;

    }

    @include breakpoint-up(medium) {
      top: 40px;
      right: 45px;
    }
  }

  &__title,
  &__description,
  &__tech {
    padding-bottom: 25px;

    @include breakpoint-up(medium) {
      padding-bottom: 45px;
    }

    @include breakpoint-up(large) {
      padding-bottom: 65px;
    }
  }

  &__title,
  &__description,
  &__tech,
  &__url {

    @include breakpoint-up(uhd){
      max-width: 30vw;
      margin: 0 auto;
    }
  }

  &__description {
    padding-left: 25px;
    padding-right: 25px;
  }

  &__tech {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }

  &__url {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

    &__live,
    &__source {
      border: 2px white solid;
      padding: 5px 20px;
      border-radius: 7px;
      transition: all 300ms ease-in-out;

      &:hover {
        background-color: white;
        color: black;
      }
    }
  }
}
