.projectcard {
  color: white;
  margin-bottom: 100px;

  @include breakpoint-up(medium) {
    margin-bottom: 150px;
  }

  @include breakpoint-up(large) {
    display: flex;

    &:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__img__container {
    min-width: 60%;
    cursor: pointer;
    overflow: clip;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(1);
    transition: transform 400ms ease-in-out, filter 400ms ease-in-out;

    &:hover {
      transform: scale(1.11);
      filter: grayscale(0);
    }
  }

  &__info {
    padding-top: 60px;
    padding-left: 10%;

    @include breakpoint-up(medium) {
      padding-left: 120px;
    }

    @include breakpoint-up(large) {
      padding-top: 0;
      padding-left: 60px;
    }
  }

  &__desc {
    padding-left: 60px;
    padding-top: 25px;
  }
}
