@keyframes circle {
  from {
    stroke-dashoffset: 315;
  }
  to {
  stroke-dashoffset: 70;  
  }
}

.date {
  display: grid;
  place-items: center;
  margin-top: 150px;

  @include breakpoint-up(medium) {
    margin-top: 250px;
    padding: 0 250px 0 0;
  }

  @include breakpoint-up(large) {
    margin-top: 0;
    padding: 0 0 0 600px;
  }

  @include breakpoint-up(xlarge) {
    margin-top: 200px;
    padding: 0 800px 0 0;
  }

  &__circle {
    transform: scale(2.2);
    opacity: 0.3;

    @include breakpoint-up(medium) {
      transform: scale(3.2);
    }

    &__progress {
      animation: circle 500ms ease-in-out;
      stroke-dasharray: 315;
      stroke-dashoffset: 70;
      transform-origin: 50% 50%;
    }
  }

  &__info {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    font-size: 1rem;
    font-family: 'Thasadith', sans-serif;

    &__month,
    &__day,
    &__about {
      position: absolute;
    }

    &__month {
      right: 2rem;
    }

    &__day {
      right: 0;
      top: 0.5rem;
      font-size: 2.5rem;
    }

    &__about {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 0.6rem;
      width: 100%;
      text-align: center;
    }
  }
}