.welcome {
  color: #fff;
  height: 100vh;
  padding-bottom: 50px;

  @include breakpoint-up(medium) {
    padding-bottom: 100px;
  }
}

.hero {
  padding-top: 130px;
  padding-left: 30px;

  .overflow-h:last-child {
    padding-top: 10px;
  }

  @include breakpoint-up(medium) {
    padding-left: 65px;
  }

  @include breakpoint-up(large) {
    padding-top: 65px;
  }

  @include breakpoint-up(xlarge) {
    padding-left: 200px;
  }
}

.job {

  @include breakpoint-up(medium) {
    margin-left: 215px;
  }

  @include breakpoint-up(large) {
    margin-left: 300px;
  }

  @include breakpoint-up(xlarge) {
    margin-left: 410px;
  }

  &__title {
    font-family: 'Ampersand-light';
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding-left: 0.5rem;
  }

  &__arrow {
    position: relative;
    fill: hsl(0, 0%, 100%);
    bottom: -2px;
    transform: scale(1.5) rotate(-45deg);
  }
}

.next {
  position: absolute;
  bottom: 55px;
  left: 30px;
  transform: scale(1.5);

  @include breakpoint-up(medium) {
    left: unset;
    right: 65px;
    bottom: 65px;
    transform: scale(1.7);
  }

  @include breakpoint-up(large) {
    right: unset;
    left: 65px;
    bottom: 65px;
  }

  @include breakpoint-up(xlarge) {
    left: 200px;
    bottom: 65px;
  }

  button {
    all: unset;
  }

  &__button {
    cursor: pointer;
  }
}
