.welcome {
  color: #fff;
  height: 100vh;
}

.hero {
  padding-top: 8.125rem;
  font-size: $hero;
  font-family: 'Ampersand-light';
}

.job {
  &__title {
    padding-left: 0.5rem;
  }

  &__arrow {
    position: relative;
    transform: rotate(90deg); 
    fill: white;
    bottom: -3px;
  }
}