.work {
  margin-bottom: 325px;

  @include breakpoint-up(medium) {
    margin-bottom: 415px;
  }

  &__title {
    padding-bottom: 100px;
    padding-left: 30px;

    @include breakpoint-up(medium) {
      padding-left: 65px;
    }

    @include breakpoint-up(large) {
      padding-top: 65px;
    }

    @include breakpoint-up(xlarge) {
      padding-left: 200px;
    }

    @include breakpoint-up(medium) {
      padding-bottom: 130px;
    }

    &__arrow {
      transform: rotate(45deg) scale(0.6);
        margin-bottom: -15px;
        margin-left: -10px;

      @include breakpoint-up(medium) {
        margin-bottom: -30px;
        margin-left: -20px;
      }

      @include breakpoint-up(large) {
        margin-bottom: -35px;
        margin-left: -25px;
      }

      @include breakpoint-up(xlarge) {
        margin-bottom: -40px;
        margin-left: -30px;
      }
    }
  }
}