// Loading only once when page loads 

@keyframes circle {
  from {
    stroke-dashoffset: 315;
  }
  to {
  stroke-dashoffset: 70;  
  }
}

// Loading on scroll

@keyframes arrow {
  from {
    transform: translateX(150%) rotate(180deg); 
    opacity: 0;
  }

  to {
    transform: translateX(0%) rotate(180deg); 
    opacity: 1;
  }
}

@keyframes text {
  0% {
    transform: translateY(150%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes image {
  0% {
    height: 0;
  }

  100% {
    height: 160px;
  }

}