// Font sizes
$regular: 1rem;
$title: 2.5rem;
$hero: 3.75rem;

// MQ breakpoints 640px, 1024px, 1400px
$breakpoints-up: (
  "medium": "40em",
  "large": "64em",
  "xlarge": "87.5em",
  "uhd": "120em"
);