@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background: hsl(249, 22%, 12%);
  --color-foreground: hsl(245, 50%, 91%);
  --color-muted: hsl(248, 15%, 61%);
  --color-highlight-low: hsl(244, 18%, 15%);
  --color-highlight-med: hsl(249, 15%, 28%);
  --color-overlay: hsl(248, 25%, 18%);
  --color-iris: hsl(267, 57%, 78%);
  --color-foam: hsl(189, 43%, 73%);

  @keyframes fade {
    0% {
      transform: translateY(8px);
      filter: blur(5px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-highlight-med) transparent;
  scrollbar-gutter: stable;
}
