@import "tailwindcss" source("..");

@theme {
  --color-background: #000000;
  --color-foreground: #e0def4;
  --color-muted: #908caa;
  --color-muted-light: rgb(255 0 0);
  --color-highlight-low: #201f2d;
  --color-highlight-med: #403d52;
  --color-border: rgba(110, 106, 134, 0.2);
  --spacing-pad: 2rem;
  --spacing-content-pad: 1rem;

  --animate-enter-desktop: enter-desktop 3s ease-in-out forwards;
  --animate-enter-mobile: enter-mobile 3s ease-in-out forwards;
  --animate-bar: bar 3s ease-in-out forwards;
  --animate-intro-text: intro-text 3s ease-in-out forwards;
  --animate-prevent-click: prevent-click 3s ease-in-out forwards;

  @keyframes enter-desktop {
    0% {
      width: 10%;
      height: 0;
      margin: auto;
      opacity: 0%;
    }
    30% {
      width: 10%;
      height: 0;
      margin: auto;
      border-color: var(--color-muted);
      opacity: 50%;
    }
    80% {
      width: calc(100% - (var(--spacing-pad) * 2));
      height: 0;
      margin: auto;
    }
    99% {
      height: calc(100vh - (var(--spacing-pad) * 2));
      width: calc(100% - (var(--spacing-pad) * 2));
      margin: auto;
    }
    100% {
      height: calc(100vh - (var(--spacing-pad) * 2));
      width: calc(100% - (var(--spacing-pad) * 2));
      margin: var(--spacing-pad);
      border-color: var(--color-muted);
      opacity: 50%;
    }
  }

  @keyframes enter-mobile {
    0% {
      width: 40%;
      height: 0;
      margin: auto;
      opacity: 0%;
    }
    30% {
      width: 40%;
      height: 0;
      margin: auto;
      border-color: var(--color-muted);
      opacity: 50%;
    }
    80% {
      width: 100%;
      height: 0;
      margin: auto;
    }
    99% {
      height: calc(100% - (var(--spacing-pad) * 2));
      width: 100%;
      margin: auto;
    }
    100% {
      height: calc(100% - (var(--spacing-pad) * 2));
      margin: var(--spacing-pad) 0;
      border-color: var(--color-muted);
      opacity: 50%;
    }
  }

  @keyframes bar {
    0% {
      height: 50vh;
      opacity: 100%;
    }
    79% {
      height: 50vh;
      opacity: 100%;
    }
    90% {
      opacity: 100%;
    }
    100% {
      height: var(--spacing-pad);
      opacity: 80%;
    }
  }

  @keyframes intro-text {
    60% {
      opacity: 100%;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes prevent-click {
    to {
      pointer-events: none;
    }
  }
}
