html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3 {
}

h1 {
  font-size: 3.75rem;
  font-family: 'Ampersand-light';
}

h2 {
  font-size: 2.5rem;
  font-family: 'Ampersand-light';
}

h3 {
  font-size: 1.5rem;
}