@font-face {
  font-family: 'Ampersand-bold';
  src: url('https://uploads-ssl.webflow.com/5e1e29388e0a4f467dbe0cf1/60048bb298c87b21b884d03f_Ampersand-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Ampersand-light';
  src: url('https://uploads-ssl.webflow.com/5e1e29388e0a4f467dbe0cf1/60048bb2da7fb7f568f40b38_Ampersand-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// https://fonts.google.com/specimen/Thasadith
@import url('https://fonts.googleapis.com/css2?family=Thasadith:wght@400;700&display=swap');

// https://fonts.google.com/specimen/Maven+Pro 
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

// https://fonts.google.com/specimen/Josefin+Sans
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Maven+Pro&family=Thasadith&display=swap');