.container {
  padding-left: 30px;
  padding-right: 30px;
}

// why does this selector work???
modal {

  &--open {
    overflow-y: hidden;
  }

  &--closed {
    overflow-y: scroll;
  }
}

::selection {
  color: hsl(300, 100%, 25%);
  background-color: hsl(0, 0%, 10%);
}

::-moz-selection {
  color: hsl(300, 100%, 25%);
  background-color: hsl(0, 0%, 10%);
}