.container {
  padding-left: 30px;
  padding-right: 30px;
}

// why does this selector work???
modal {

  &--open {
    overflow-y: hidden;
  }

  &--closed {
    overflow-y: scroll;
  }
}

::selection {
  color: hsl(300, 100%, 25%);
  background-color: hsl(0, 0%, 10%);
}

::-moz-selection {
  color: hsl(300, 100%, 25%);
  background-color: hsl(0, 0%, 10%);
}

.active {
  &__arrow {
    animation: arrow 1s ease forwards;
  }

  &__text {
    animation: text 1s ease forwards;
  }

  &__image {
    animation: image 1s ease forwards;
  }
}

.disabled {
  &__arrow {
    animation: arrow 1s ease forwards reverse;
  }

  &__text {
    animation: text 1s ease forwards reverse;
  }

  &__image {
    animation: image 1s ease forwards reverse;
  }
}

.overflow-h {
  overflow: hidden;
}