body {
  font-size: 1rem;
  font-family: 'Thasadith', sans-serif;
}

h1 {
  font-size: 3.75rem;
  font-family: 'Ampersand-light';
}

h2 {
  font-size: 2.5rem;
  font-family: 'Ampersand-light';
}

h3 {
  font-size: 1.5rem;
  font-family: 'Ampersand-light';
}

a {
  font-size: 1rem;
  font-family: 'Ampersand-light';
}