body {
  color: white;
  font-size: 1rem;
  font-family: "Maven Pro", sans-serif;
}

.navbar__link {
  font-size: 0.9rem;
  font-family: "Maven Pro", sans-serif;

  @include breakpoint-up(medium) {
    font-size: 1.3rem;
  }
}

h1,
.contact__mail {
  font-size: 3rem;
  font-family: "Ampersand-light";
  font-weight: 300;
  width: fit-content;

  @include breakpoint-up(medium) {
    font-size: 6rem;
  }

  @include breakpoint-up(large) {
    font-size: 7rem;
  }

  @include breakpoint-up(xlarge) {
    font-size: 8.5rem;
  }
}

h2 {
  font-size: 1rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-weight: 300;

  @include breakpoint-up(medium) {
    font-size: 1.5rem;
  }
}

a,
h3 {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;

  @include breakpoint-up(medium) {
    font-size: 1.3rem;
  }
}

h2,
h3,
a {
  letter-spacing: 1px;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

.projectmodal__url {
  a {
    color: white;
    font-size: 1rem;
    font-family: "Maven Pro", sans-serif;

    @include breakpoint-up(large) {
      font-size: 1.3rem;
    }
  }
}
